---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Contacto"
  description="Contacto directo del Cádiz Film Office: teléfono, email y formulario. Atención personalizada para permisos de rodaje y localizaciones en la provincia"
>
  <h1>Contact Page</h1>
</Layout>
