---
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import Hero from "@/assets/hero.jpg";
---

<Layout title="Inicio">
  <div class="container">
    <section class="hero">
      <div class="hero-img"><Image src={Hero} alt="" /></div>
      <h1>Digital architecture that rise from the void</h1>
    </section>
    <section>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum rerum quod
      porro delectus iste at perferendis fugiat quo. Aspernatur voluptate magnam
      fuga eius cupiditate ad nesciunt laboriosam officiis cumque numquam?
      Perspiciatis qui adipisci quis vero praesentium. Ab laboriosam aliquid
      ducimus voluptas earum, suscipit doloremque unde asperiores illum! Facere,
      porro corrupti. Necessitatibus, delectus saepe ipsam voluptas vitae quia.
      Iste, quo odit. Voluptatum veniam deserunt nisi magnam laborum harum quam
      inventore corporis et quas, nihil quo distinctio odit earum voluptate
      alias nam rem iure provident reprehenderit nesciunt quisquam amet omnis
      beatae. Molestiae! Nostrum odio blanditiis cumque optio perferendis eos
      quae saepe voluptatem, quas exercitationem perspiciatis unde ex a
      reiciendis. Qui, quod eveniet, consequuntur, odio laborum quia delectus
      deserunt est nam quis quas? Possimus, sed! Repellendus magnam possimus ab,
      natus dignissimos itaque ea laboriosam ullam libero pariatur ducimus iure
      deserunt accusamus et consectetur est suscipit alias? Obcaecati harum
      suscipit maiores voluptatum, nobis in. Eius, reprehenderit? Sit harum quo
      mollitia laudantium, iste assumenda deleniti impedit! Nihil ullam
      exercitationem optio maxime neque autem quo dolor accusantium? Ab quo
      consequatur vero ea voluptates repellat, officiis ducimus. Quia hic
      repellat modi, ipsa sequi voluptatibus pariatur deleniti doloremque. Illum
      harum ullam accusantium totam blanditiis itaque facilis praesentium
      repudiandae distinctio, est ratione obcaecati, magni pariatur, tempora
      dignissimos enim vero! Harum ducimus facere, quas officia culpa tenetur
      ipsam iure obcaecati perspiciatis accusantium fugit maxime dignissimos,
      deleniti doloribus cupiditate repellat voluptate maiores sequi, tempora et
      necessitatibus! Debitis ipsam voluptas a libero! Corrupti rerum aut iusto
      sed molestias soluta maxime natus quibusdam. Voluptas earum iste laborum
      ex sapiente, ratione possimus explicabo, blanditiis laboriosam corrupti
      sequi ipsam? Rerum adipisci voluptate beatae illum sunt! Architecto
      inventore, ut rem rerum facere dolore nulla veniam, pariatur velit
      praesentium consequatur numquam cum necessitatibus? Fugiat officia
      voluptatibus quisquam recusandae aliquid quo maiores distinctio iure,
      excepturi, labore, soluta consequatur. Nihil possimus pariatur ex commodi,
      nulla nemo illo maxime, quis mollitia dolores recusandae voluptatibus, eos
      modi tempora dolore enim. Veniam, voluptatibus voluptates quae debitis
      veritatis nemo alias magnam dignissimos id. Tempore, corrupti tenetur?
      Eaque dolor aliquam dolorum nam asperiores. Eveniet inventore eius
      incidunt neque, atque repellendus! Modi temporibus amet a quo excepturi
      distinctio maxime quia vel nihil neque, eum dolore. Tempore, possimus!
      Mollitia officiis reprehenderit facere magnam culpa nesciunt similique
      modi impedit qui quae explicabo doloremque optio sed dicta odit eum, sint,
      nobis cupiditate repellendus dolores. Illo quibusdam consequatur atque.
      Consequatur, non! Mollitia ducimus rerum iusto voluptatem laudantium
      consequuntur laboriosam assumenda modi exercitationem blanditiis!
      Laboriosam iure saepe similique laborum aspernatur doloribus fuga
      dignissimos debitis natus provident nemo soluta, id porro! Soluta dolores
      cupiditate, inventore mollitia quis, earum nesciunt iusto cumque tenetur
      voluptas vitae incidunt, magnam sunt! Quibusdam cum sint inventore sunt
      reprehenderit soluta accusamus explicabo maiores neque, itaque est esse.
      Accusamus eveniet amet repudiandae dicta ea necessitatibus officia aut
      minus asperiores provident, delectus mollitia, fugit animi! Vero cumque
      deserunt nam sit illum dolor doloribus reprehenderit iure aut. Voluptate,
      vitae consectetur. Vel nobis reiciendis dolores eius numquam incidunt
      maxime tempora ratione, autem fuga laboriosam accusamus maiores dicta
      magnam explicabo sit illo nisi perferendis laborum impedit quae eligendi
      sunt dolorem. Laboriosam, dignissimos? Harum, illo rem voluptate at
      accusantium magnam impedit molestiae facilis laborum, repellendus cum quia
      eligendi praesentium accusamus quod labore explicabo quasi sint deleniti
      beatae fugit optio! Illo repudiandae tenetur voluptas. Debitis, sunt!
      Earum id voluptates nisi dicta explicabo commodi ipsa sed culpa beatae
      alias quas, consequuntur nostrum sequi accusantium, repudiandae illum?
      Accusamus, dolorum incidunt explicabo nam inventore molestiae perferendis
      et. Voluptatem harum quia vero labore unde eligendi explicabo tenetur
      voluptate suscipit necessitatibus enim, repudiandae dolorum ipsum neque
      tempore illum? Ad nam possimus repellat voluptatibus, nobis impedit magni
      vel id necessitatibus.
    </section>
  </div>
</Layout>
