---
import Logo from "@/components/Logo.astro";
import Burger from "@/components/header/Burger.astro";
import { Icon } from "astro-icon/components";

export const menuItems = [
  { label: "Inicio", url: "/" },
  { label: "¿Quiénes Somos?", url: "/quienes-somos" },
  { label: "Contacto", url: "/contacto" },
];

const currentPath = Astro.url.pathname;
---

<header
  id="main-header"
  class="fixed top-0 left-1/2 z-50 flex h-(--header-height) w-full max-w-7xl -translate-x-1/2 items-center justify-center gap-2 rounded-md bg-white/50 shadow-lg backdrop-blur-sm"
>
  <div
    class="horizontal-bar-menu bg-primary absolute bottom-1 h-[3px] w-[min(35%,200px)] cursor-pointer rounded-full transition-all duration-300"
  >
  </div>
  <div class="flex w-full max-w-7xl items-center justify-between px-2 md:px-4">
    <!-- <div class="menu-overlay">
      <div class="menu-content">
        <div class="menu-col">
          <p>Codegrid</p>
          <p>Shoreline Drive</p>
          <p>Oslo</p>
          <br />
          <p>Edition</p>
          <p>Vol. 03</p>
          <br />
          <p>Contact</p>
          <p>hello@mail.com</p>
          <br />
          <p>Direct</p>
          <p>+47 123 45 678</p>
        </div>
        <div class="menu-col">
          <p>Instagram</p>
          <p>LinkedIn</p>
          <p>Twitter</p>
          <br />
          <br />
          <p>Language</p>
          <p>Norwegian</p>
          <br />
          <br />
          <p>Credit</p>
          <p>Design by John Doe</p>
        </div>
      </div>
    </div> -->
    <Logo classNames="w-28 sm:w-32" />
    <Burger classNames="sm:hidden burger" />
    <div class="main-menu max-sm:hidden">
      <nav class="main-nav">
        <ul class="">
          {
            menuItems.map((item) => (
              <a
                class="hover:text-primary px-2 transition-colors"
                href={item.url}
              >
                {item.label}
              </a>
            ))
          }
        </ul>
      </nav>
    </div>
  </div>
</header>

<style></style>

<script>
  document.addEventListener("astro:page-load", () => {
    const mainHeader = document.getElementById("main-header") as HTMLElement;
    const burger = mainHeader.querySelector(".burger") as HTMLElement;

    burger.addEventListener("click", () => {
      mainHeader.classList.toggle("header-active");
    });
  });
</script>
