---
import Logo from "@/components/Logo.astro";
import Burger from "@/components/header/Burger.astro";
import { Icon } from "astro-icon/components";

const menuItems = [
  { label: "Inicio", url: "/" },
  { label: "¿Quiénes Somos?", url: "/quienes-somos" },
  { label: "Contacto", url: "/contacto" },
];

const currentPath = Astro.url.pathname;
---

<header
  id="main-header"
  class="fixed top-0 left-1/2 z-50 flex h-(--header-height) w-full max-w-7xl -translate-x-1/2 items-center justify-center gap-2 rounded-md bg-white/50 shadow-lg backdrop-blur-sm"
>
  <div
    class="horizontal-bar-menu bg-primary absolute bottom-1 h-[3px] w-[min(35%,200px)] cursor-pointer rounded-full transition-all duration-300"
  >
  </div>
  <div class="flex w-full max-w-7xl items-center justify-between px-2 md:px-4">
    <nav
      class="mobile-nav invisible absolute top-(--header-height) left-0 flex h-[calc(100dvh-var(--header-height))] w-full flex-col items-center justify-center bg-white opacity-0 transition-opacity duration-300"
    >
      <ul class="flex flex-col items-center justify-center gap-4">
        {
          menuItems.map((item) => (
            <a
              class:list={[
                "hover:text-primary px-2 transition-all hover:[text-shadow:1px_0_0_currentColor]",
                {
                  "text-primary pointer-events-none [text-shadow:1px_0_0_currentColor]":
                    currentPath === item.url,
                },
              ]}
              href={item.url}
            >
              {item.label}
            </a>
          ))
        }
      </ul>
    </nav>
    <!-- <div class="menu-overlay">
      <div class="menu-content">
        <div class="menu-col">
          <p>Codegrid</p>
          <p>Shoreline Drive</p>
          <p>Oslo</p>
          <br />
          <p>Edition</p>
          <p>Vol. 03</p>
          <br />
          <p>Contact</p>
          <p>hello@mail.com</p>
          <br />
          <p>Direct</p>
          <p>+47 123 45 678</p>
        </div>
        <div class="menu-col">
          <p>Instagram</p>
          <p>LinkedIn</p>
          <p>Twitter</p>
          <br />
          <br />
          <p>Language</p>
          <p>Norwegian</p>
          <br />
          <br />
          <p>Credit</p>
          <p>Design by John Doe</p>
        </div>
      </div>
    </div> -->
    <Logo classNames="w-28 sm:w-32" />
    <Burger classNames="sm:hidden burger" />
    <div class="main-menu max-sm:hidden">
      <nav class="main-nav">
        <ul class="">
          {
            menuItems.map((item) => (
              <a
                class="hover:text-primary px-2 transition-colors"
                href={item.url}
              >
                {item.label}
              </a>
            ))
          }
        </ul>
      </nav>
    </div>
    <!-- <div class="social-menu flex items-center justify-center">
      <Icon
        name="in"
        class="text-primary hover:text-primary-dark flex h-6 w-6 items-center justify-center transition-colors duration-300"
      />
      <Icon
        name="x"
        class="text-primary hover:text-primary-dark flex h-6 w-6 items-center justify-center transition-colors duration-300"
      />
    </div> -->
  </div>
</header>

<style>
  .nav-active {
    opacity: 1;
    visibility: visible;
  }
  .header-active {
    background-color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(0px);
  }

  .header-active .horizontal-bar-menu {
    opacity: 0;
  }

  .animate-up .horizontal-bar-menu {
    width: 80px;
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const mainHeader = document.getElementById("main-header") as HTMLElement;
    const mobileNav = mainHeader.querySelector(".mobile-nav") as HTMLElement;
    const burger = mainHeader.querySelector(".burger") as HTMLElement;
    const horizontalBarMenu = mainHeader.querySelector(
      ".horizontal-bar-menu",
    ) as HTMLDivElement;

    burger.addEventListener("click", () => {
      mobileNav.classList.toggle("nav-active");
      mainHeader.classList.toggle("header-active");
      document.body.classList.toggle("no-scroll");
      document.documentElement.classList.toggle("no-scroll");

      // Se comprueba si el menú móvil está abierto
      const isOpen = mobileNav.classList.contains("nav-active");

      isOpen
        ? horizontalBarMenu.classList.add("horizontal-bar-active")
        : horizontalBarMenu.classList.remove("horizontal-bar-active");

      const lenis = window.lenis;

      console.log("isOpen:", isOpen);

      if (lenis) {
        if (isOpen) {
          lenis.stop();
        } else {
          lenis.start();
        }
      }
    });
  });
</script>
