---
import Logo from "@/components/Logo.astro";
import Burger from "@/components/header/Burger.astro";
import { Icon } from "astro-icon/components";

const menuItems = [
  { label: "Inicio", url: "/" },
  { label: "¿Quiénes Somos?", url: "/quienes-somos" },
  { label: "Contacto", url: "/contacto" },
];
---

<header
  id="main-header"
  class="fixed top-0 left-1/2 z-50 flex h-(--header-height) w-full max-w-7xl -translate-x-1/2 items-center justify-center gap-2 rounded-md bg-white/50 shadow-lg backdrop-blur-sm"
>
  <div class="flex w-full max-w-7xl items-center justify-between px-2 md:px-4">
    <nav
      class="mobile-nav absolute top-(--header-height) left-0 flex h-[calc(100dvh-var(--header-height))] w-full flex-col items-center justify-center bg-white opacity-0 transition-opacity duration-300"
    >
      <ul class="flex flex-col items-center justify-center gap-4">
        {
          menuItems.map((item) => (
            <a
              class="hover:text-primary px-2 transition-colors"
              href={item.url}
            >
              {item.label}
            </a>
          ))
        }
      </ul>
    </nav>
    <Burger classNames="sm:hidden burger" />
    <Logo classNames="w-28 sm:w-32" />
    <div class="main-menu">
      <nav class="main-nav max-sm:hidden">
        <ul class="">
          {
            menuItems.map((item) => (
              <a
                class="hover:text-primary px-2 transition-colors"
                href={item.url}
              >
                {item.label}
              </a>
            ))
          }
        </ul>
      </nav>
    </div>
    <h1 class="social-menu flex items-center justify-center">
      <Icon
        name="in"
        class="text-primary hover:text-primary-dark flex h-6 w-6 items-center justify-center transition-colors duration-300"
      />
      <Icon
        name="x"
        class="text-primary hover:text-primary-dark flex h-6 w-6 items-center justify-center transition-colors duration-300"
      />
    </h1>
  </div>
</header>

<style>
  .nav-active {
    opacity: 1;
    visibility: visible;
  }
  .header-active {
    background-color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(0px);
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const mainHeader = document.getElementById("main-header") as HTMLElement;
    const mobileNav = mainHeader.querySelector(".mobile-nav") as HTMLElement;
    const burger = mainHeader.querySelector(".burger") as HTMLElement;

    burger.addEventListener("click", () => {
      mobileNav.classList.toggle("nav-active");
      mainHeader.classList.toggle("header-active");
      document.body.classList.toggle("no-scroll");
      document.documentElement.classList.toggle("no-scroll");

      const isOpen = mobileNav.classList.contains("nav-active");
      // Acceder a lenis con type assertion
      const lenis = window.lenis;

      console.log("isOpen:", isOpen);
      console.log("Lenis:", lenis);

      if (lenis) {
        if (isOpen) {
          lenis.stop();
        } else {
          lenis.start();
        }
      }
    });
  });
</script>
