---
import Logo from "@/components/Logo.astro";
import Burger from "@/components/header/Burger.astro";

export const menuItems = [
  { label: "Inicio", url: "/" },
  { label: "¿Quiénes Somos?", url: "/quienes-somos" },
  { label: "Contacto", url: "/contacto" },
];

const currentPath = Astro.url.pathname;
---

<header
  id="main-header"
  class="fixed top-0 left-1/2 z-50 flex h-(--header-height) w-full max-w-7xl -translate-x-1/2 items-center justify-center gap-2 rounded-md bg-white/70 shadow-lg backdrop-blur-sm"
>
  <div
    class="horizontal-bar-menu bg-primary absolute bottom-1 h-[3px] w-[min(35%,200px)] cursor-pointer rounded-full transition-all duration-800"
  >
  </div>
  <div class="flex w-full max-w-7xl items-center justify-between px-2 md:px-4">
    <Logo classNames="w-28 sm:w-32 pl-2 sm:pl-4" />
    <Burger classNames="lg:hidden burger" />
    <div class="main-menu max-lg:hidden">
      <nav class="main-nav">
        <ul class="">
          {
            menuItems.map((item) => (
              <a
                class:list={[
                  "hover:text-primary px-2 transition-colors",
                  {
                    "text-primary pointer-events-none":
                      currentPath === item.url,
                    "text-black": currentPath !== item.url,
                  },
                ]}
                href={item.url}
              >
                {item.label}
              </a>
            ))
          }
        </ul>
      </nav>
    </div>
  </div>
</header>

<style>
  .horizontal-bar-menu.disable {
    width: 0px;
    opacity: 0;
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const mainHeader = document.getElementById("main-header") as HTMLElement;
    const burger = mainHeader.querySelector(".burger") as HTMLElement;

    burger.addEventListener("click", () => {
      mainHeader.classList.toggle("header-active");
    });
  });
</script>
