---
const menuItems = [
	{ label: 'Inicio', url: '/' },
	{ label: '¿Quiénes Somos?', url: '/quienes-somos' },
	{ label: 'Contacto', url: '/contacto' }

]

console.log(menuItems)
---

<header>
    
    <div class="logo">Logo</div>
    <nav class="main-menu">
        <ul>
            {
                menuItems.map(item => (
                    <a href={item.url}>
                        {item.label}
                    </a>
                ))
            }
        </ul>
    </nav>
    <div class="social-menu">Menú Redes Sociales</div>
</header>