---
import "../styles/global.css";
import Header from "@/components/header/Header.astro";
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  description?: string;
  image?: string;
}

const {
  title,
  description = "Cádiz Film Office: Tu puerta de entrada para rodar en la provincia gaditana. Gestionamos permisos, localizaciones y logística para producciones audiovisuales en playas, pueblos blancos y ciudades históricas",
  image = "",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Cádiz FilmOffice</title>
    <Font cssVariable="--font-body" preload />
    <Font cssVariable="--font-headings" preload />
  </head>
  <ClientRouter />
  <body>
    <Header />
    <main>
      <div class="main-container">
        <slot />
      </div>
    </main>
  </body>

  <style>
    html,
    body {
      margin: 0;
      width: 100%;
      height: 100%;
    }
  </style>

  <script>
    import Lenis from "lenis";

    declare global {
      interface Window {
        lenis?: Lenis;
      }
    }

    document.addEventListener("astro:page-load", () => {
      type State = "animate-up" | "animate-down";
      const lenis = new Lenis();
      // Guardar instancia en window para acceso global
      if (typeof window !== "undefined") {
        // Usar type assertion para evitar el error de TypeScript
        window.lenis = lenis;
      }
      const header = document.querySelector("#main-header");
      lenis.on("scroll", (e) => {
        if (!header) return;

        const position = e.animatedScroll;
        const direction = e.direction;
        if (position > 0 && direction > 0) {
          header.classList.remove("animate-down");
          header.classList.add("animate-up");
        } else {
          header.classList.remove("animate-up");
          header.classList.add("animate-down");
        }
      });

      function updateState(state: State) {
        const states = ["animate-up", "animate-down"] as const;
        states.forEach((stateClass) => header?.classList.remove(stateClass));
        header?.classList.add(state);
      }

      header?.addEventListener("mouseenter", () => {
        // console.log("enter header");
        updateState("animate-down");
      });

      header?.addEventListener("mouseleave", () => {
        // console.log("leave header");
        updateState("animate-down");
      });

      function raf(time: number) {
        lenis.raf(time);
        requestAnimationFrame(raf);
      }

      requestAnimationFrame(raf);
    });
  </script>
</html>
